#
# openLilyLib/lily-lute configuration
#

name: lily-lute
display-name: lily-lute
short-description: Toolbox for Renaissance Lute Tablature
description: <
  A set of tools and fonts used for typesetting French-style
  Renaissance lute tablature in GNU LilyPond.
  >
modules: [
  col-line
  hold-line
  tab-articulation
  tab-duration
  ]
oll-core: 0.5.0
maintainers: [
  Brian Bartling <brian.bartling23@gmail.com>
  ]
version: 0.1.3
